/* ===== texto ===== */
.color-ink {
  color: #144673;
}

.color-light {
  color: #F5F0DC;
}

.color-lime {
  color: #F0CD7D;
}

/* ===== fundos ===== */
.bg-dark {
  background-color: #144673;
}

.bg-neutral {
  background-color: #F5F0DC;
}

.bg-white {
  background-color: #ffffff;
}

.bg-lime {
  background-color: #F0CD7D;
}

.bg-pastel-pink {
  background-color: #FAE18C;
}

/* ===== blocos de cor sólida para cards de destaque ===== */
.bg-card-lime {
  background-color: #F0CD7D;
}

.bg-card-blue {
  background-color: #7DA0D2;
}

.bg-card-purple {
  background-color: #7DA0D2;
}

.bg-card-gold {
  background-color: #F0CD7D;
}

.bg-card-pink {
  background-color: #FAE18C;
}

.bg-card-orange {
  background-color: #F0CD7D;
}

/* IDENTIDADE VISUAL 
color:#144673
color:#F0CD7D
color:#7DA0D2
color:#F5F0DC
color:#FFFFFF
color:#DCEBF0
color:#FAE18C*/